@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@layer base {
  :root {
    --background: var(--base-white);
    --foreground: var(--neutralgrey-1300);
    --card: var(--base-white);
    --card-foreground: var(--neutralgrey-1300);
    --popover: var(--base-white);
    --popover-foreground: var(--neutralgrey-1300);
    --primary: var(--neutralgrey-1100);
    --primary-foreground: var(--neutralgrey-200);
    --secondary: var(--neutralgrey-300);
    --secondary-foreground: var(--neutralgrey-1100);
    --muted: var(--neutralgrey-300);
    --muted-foreground: var(--neutralgrey-700);
    --accent: var(--neutralgrey-300);
    --accent-foreground: var(--neutralgrey-1100);
    --destructive: var(--red-700);
    --destructive-foreground: var(--neutralgrey-200);
    --border: var(--neutralgrey-400);
    --input: var(--neutralgrey-400);
    --ring: var(--neutralgrey-1300);
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: var(--neutralgrey-1200);
    --foreground: var(--neutralgrey-200);
    --card: var(--neutralgrey-1200);
    --card-foreground: var(--neutralgrey-200);
    --popover: var(--neutralgrey-1200);
    --popover-foreground: var(--neutralgrey-200);
    --primary: var(--neutralgrey-200);
    --primary-foreground: var(--neutralgrey-1100);
    --secondary: var(--neutralgrey-1000);
    --secondary-foreground: var(--neutralgrey-200);
    --muted: var(--neutralgrey-1000);
    --muted-foreground: var(--neutralgrey-600);
    --accent: var(--neutralgrey-1000);
    --accent-foreground: var(--neutralgrey-200);
    --destructive: var(--red-1100);
    --destructive-foreground: var(--neutralgrey-200);
    --border: var(--neutralgrey-1000);
    --input: var(--neutralgrey-1000);
    --ring: var(--neutralgrey-500);

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-neutralgrey-1300 font-default bg-white;
  }
}

.easey-bouncy {
  transition-duration: 400ms;
  transition-timing-function: linear(
    0 0%,
    0.007064 1%,
    0.027471 2%,
    0.059973 3%,
    0.103243 4%,
    0.155898 5%,
    0.216526 6%,
    0.283705 7.000000000000001%,
    0.356025 8%,
    0.432103 9%,
    0.510609 10%,
    0.59027 11%,
    0.669892 12%,
    0.748366 13%,
    0.824682 14.000000000000002%,
    0.897929 15%,
    0.967308 16%,
    1.03213 17%,
    1.091819 18%,
    1.145915 19%,
    1.194066 20%,
    1.23603 21%,
    1.271669 22%,
    1.300942 23%,
    1.3239 24%,
    1.340681 25%,
    1.351496 26%,
    1.356625 27%,
    1.356407 28.000000000000004%,
    1.351232 28.999999999999996%,
    1.341531 30%,
    1.327765 31%,
    1.310421 32%,
    1.289999 33%,
    1.267006 34%,
    1.241949 35%,
    1.215327 36%,
    1.187624 37%,
    1.159304 38%,
    1.130809 39%,
    1.102547 40%,
    1.074896 41%,
    1.048199 42%,
    1.022758 43%,
    0.998837 44%,
    0.976662 45%,
    0.956414 46%,
    0.938238 47%,
    0.922236 48%,
    0.908476 49%,
    0.896987 50%,
    0.887766 51%,
    0.880777 52%,
    0.875956 53%,
    0.873214 54%,
    0.87244 55.00000000000001%,
    0.873501 56.00000000000001%,
    0.876251 56.99999999999999%,
    0.880528 57.99999999999999%,
    0.886164 59%,
    0.89298 60%,
    0.900798 61%,
    0.909434 62%,
    0.91871 63%,
    0.92845 64%,
    0.938485 65%,
    0.948653 66%,
    0.958802 67%,
    0.968793 68%,
    0.978498 69%,
    0.987801 70%,
    0.996603 71%,
    1.004815 72%,
    1.012368 73%,
    1.019201 74%,
    1.025274 75%,
    1.030554 76%,
    1.035027 77%,
    1.038688 78%,
    1.041545 79%,
    1.043616 80%,
    1.044928 81%,
    1.045519 82%,
    1.045432 83%,
    1.044717 84%,
    1.04343 85%,
    1.04163 86%,
    1.039379 87%,
    1.036742 88%,
    1.033782 89%,
    1.030565 90%,
    1.027154 91%,
    1.02361 92%,
    1.019993 93%,
    1.016359 94%,
    1.012759 95%,
    1.009241 96%,
    1.005848 97%,
    1.002619 98%,
    0.999586 99%,
    0.996779 100%
  );
}

.animate-shimmer {
  animation: shimmer 0.01s linear normal forwards;
  animation-delay: calc((var(--index) * 0.1s));
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes shimmer {
  0% {
    color: unset;
    scale: 1;
  }
  10% {
    color: var(--indigo-500);
  }
  /* 20% {
    color: white;
  } */
  40% {
    color: unset;
  }
}

.animated-new-background {
  /* bg-gradient-to-r from-blue-800/75 to-indigo-700/75 */
  background: linear-gradient(-45deg, #4272dd50, #0a8fef50, #4318e350);
  background-size: 400% 100%;
  animation: new-bg-gradient 15s linear infinite;
}

@keyframes new-bg-gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
